@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400..700&family=Fira+Code:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sevillana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
      body {
            font-family: 'Poppins', sans-serif;
      }
}

@layer components {
      .card {
            @apply bg-white text-gray-700 w-72 min-h-[10rem] shadow-lg rounded-md overflow-hidden
      }

      .badge {
            @apply px-3 py-1 rounded-full text-xs bg-gray-100
      }

      .product-title {
            @apply  font-semibold text-2xl overflow-ellipsis overflow-hidden whitespace-nowrap
      }

      .discount-percent {
            @apply bg-green-400 px-1.5 py-0.5 rounded-md text-xs text-white
      }

      .button-primary {
            @apply bg-yellow-500/80 hover:bg-yellow-500/90 px-6 py-2 rounded-md tracking-wider transition
      }

      .button-icon {
            @apply flex-grow flex justify-center items-center bg-gray-300/60 hover:bg-gray-300/80 transition rounded-md
      }
}

/*
:root {
    font-family: "Poppins", sans-serif;
    color-scheme: dark;
} */

/* Hide scrollbar for Chrome, Safari and Opera */
.container::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.container {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;
}

textarea::-webkit-scrollbar {
      width: 6px;
}
textarea::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.2);
      border-radius: 3px;
}
textarea::-webkit-scrollbar-track {
      background-color: rgba(0, 0, 0, 0.1);
}

.message::-webkit-scrollbar {
      width: 6px;
}
.message::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.2);
      border-radius: 3px;
}
.message::-webkit-scrollbar-track {
      background-color: rgba(0, 0, 0, 0.1);
}